<!-- src/main/resources/templates/fragments/footer.html -->
<footer class="bg-gray-800 p-4 mt-8">
    <div class="container mx-auto text-center">
        <p class="text-white">&copy; 2024 OrdinalTeamWeb. All rights reserved.</p>
        <div class="flex justify-center items-center mt-4">
            <p class="text-white mr-2">Our partner:</p>
            <a href="https://athena-heberg.fr/" target="_blank" class="flex items-center space-x-2">
                <img src="/images/athena.png" alt="Athena Heberg Logo" class="w-12 h-12">
                <span class="text-blue-400 hover:underline">Athena Heberg</span>
            </a>
        </div>
    </div>
</footer>
